body{
    margin:0px;
    padding:0px;
}
nav{
   background-color:skyblue;
}
nav ul{
    list-style-type: none;
    margin: 0px;
}
nav ul li{
    display: inline-block;
    float:left;
}
nav ul li a{
    display: block;
    padding: 10px 10px;
    color:#fff;
    text-decoration:none ;
    text-decoration:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.active{
    background-color: dodgerblues;
}
.right{
    float:right;
    margin-right: 40px;
}
header{
    background-color: lightblue;
    padding: 40px;
    text-align: center;
}
.myname{
    font-family:'Arial Narrow Bold';
    color: darkslategray;
}
.photo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
}
.container{
    padding: 40px;
    margin: -5px;
}
.judul{
    font-family: Arial;
}

.row{
    display: table;
    clear:both ;
    text-align: center;
    width: 120%;
}
.col-1{
    padding: 25px;
    float: left;
    width: 100%;
}
.col-2{
    padding: 25px;
    float: none;
    width: 100%;
}
.col-3{
    padding: 25px;
    float:left ;
    width: 30%;
}
#project{
    background-color: lightblue;
    
}
.card{
    background-color: #fff;
}
.photoproject{
    width: 100%;
    height: 60%;
}
.card-body{
    padding: 15px;
}
   

*,
*::before,
*::after{
    box-sizing:border-box;
}
html{
    font-size: 100%;
}
body{
    background-color:none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    line-height: 1,5;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    
}
.wrapper{
    background:#fff;
    width: 90%;
    padding: 2rem;
    box-shadow: 0 0px 2.2px rgba(0,0,0, 0.028),0 0px 5.3px  rgba(0, 0, 0, 0.04) 0, 0px 10px  rgba(0,0,0, 0,05)

}
h2{
    background:#1dbcfd ;
    color: white;
    letter-spacing: 0.1rem;
    padding: 1rem;
    cursor: default;
}
form,
input,
textarea,
button{
    font-family: inherit;
    font-size: initial;
}
.form-group label{
    display: block;
    margin: 2rem 0 0.5rem 0;

}
.form-group input[type="text"]
.form-group input[type="email"]
.form-group textarea{
    width: 100%;
    padding:  1rem 0.8rem;
    border: 1px solid rgba(0,0,0, 0.2),
    outline: 0;
    transition:border 0,15s;

}
.form-group input[type="text"],
.form-group input[type="email"]{
    height: 4.6rem;
}
.form-group textarea{
    resize:vertical;

}
.submit{
    background: blue;
    color:brown;
    font-weight: bold;
    margin-top: 1rem  1.5rem;
    border: none;
    cursor: pointer;
    transition: background 0.15s;
}
.submit:hover{
    background: rgba(173,216,230, 1);
    color: black;

}
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus{
    border: 1px solid #1dbcfd;
}
/*responsive*/
@media screen and{min-width: 576px;} {
    .wrapper{
        width: 70%;
    }
    
}
@media screen and{min-width: 768px;} {
    .wrapper{
        width: 55%;
    }
    
}
@media screen and{min-width: 992px;} {
    .wrapper{
        width: 45%;
    }
    
}
@media screen and{min-width: 1200px;} {
    .wrapper{
        width: 35%;
    }
    
}















